<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <style>
      h1 {
        margin-top: 50px;
        color: red;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
      }
    </style>
  </head>
  <body>
    <h1>Some Unexpected error has occured, Please try again later</h1>
  </body>
</html>
