<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Number of Profiles</title>
    <style>
      * {
        font-family: cursive;
      }
    </style>
  </head>
  <body>
    <h3>Number of Profiles in Leaf App.</h3>
    <h1>Count: <%= count %></h1>
  </body>
</html>
