<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Account</title>
  </head>
  <body>
    <h3>Add your credentials to delete account</h3>
    <p>id: <%= id %></p>
    <form action="/users/<%= id %>?_method=DELETE" method="post">
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Enter password to delete acc"
        required
      />

      <button>Delete Account</button>
    </form>
  </body>
</html>
