<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new User</title>
  </head>
  <body>
    <h3>Fill the form to add new user</h3>
    <form action="/users" method="post">
      <input
        type="text"
        name="username"
        placeholder="Enter your username"
        required
      />
      <br />
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <br />
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        required
      />
      <br />

      <button>Create Account</button>
    </form>
  </body>
</html>
